<div class="panel panel-default">
<div class="text-center">
  <div class="panel-body">
    <%= form_for @itinerary do |f| %>
    <fieldset>
      <div class='fields'>
        <%=f.label(:name, 'Itinerary name') %>
        <%=f.text_field :name %>
      </div>
      <div class='fields'>
        <%= f.radio_button('itinerary_type', "campsite") %>
        <%= f.label( :itinerary_type_camping, "Camping") %>
        <%= f.radio_button('itinerary_type', "hotel") %>
        <%= f.label( :itinerary_type_hotel, "Hotel/B&B") %>
      </div>
      <div class='fields'>
        <%= f.label(:start_location, "Starting location: ") %>
        <%= f.collection_select(:start_location, Location.all, :id, :name) %>
      </div>
      <div class='fields'>
        <%= f.label(:end_location, "Ending location: ") %>    
        <%= f.collection_select(:end_location, Location.all, :id, :name) %>
      </div>
      <div class='fields'>
        <%= f.label(:nights, "Number of nights: ") %>
        <%= f.number_field(:nights, in: 1..20, step: 1) %>
      </div>
    </fieldset>
    <%= f.submit(class: "btn btn-primary") %>
    <%end%>
  </div>
</div>
</div>
